@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");
:root {
  --clr-grey: #d0cccb;
  --clr-light: #e6e2e1;
  --clr-dark: #020201;
  --clr-primary:#f1e0e0;
  --clr-secondary: #a59590;
  --clr-accent: #ff7750;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --bor-primary: 1px solid var(--clr-grey);
  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

.darkmode {
  --clr-light: #e6e2e1;
  --clr-dark: #020201;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: calc(3rem + 7vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}

h2 {
  font-size: calc(1rem + 7vw);
  font-family: var(--ff-title);
  margin: .25em 0 .25em;
  line-height: 1;
}

h3 {
  font-size: calc(.5rem + 1vw);
  font-family: var(--ff-title);
  margin: .25em 0 .25em;
  line-height: 1;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 1rem 2rem 1rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

header .member a {
  margin: .5rem 2rem .5rem 0;
}

.layout-grid {
  position: relative;
  top: 60px;
  width: 100vw;
}

.layout-grid__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.layout-grid__container .layout-grid__section {
  width: 50%;
  min-height: 100vh;
  min-width: 250px;
}

.layout-grid__container .layout-grid__section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.layout-grid__container .layout-grid__section__titlecontainer {
  height: calc(100% - 12rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6rem 2rem 6rem 6rem;
  border-top: 2px solid rgba(173, 173, 173, 0.295);
}

.layout-grid__container .layout-grid__section__titlecontainer h2 {
  font-size: calc(1rem + 7vw);
  font-family: var(--ff-title);
  margin: .25em 0 .25em;
  line-height: 1;
}

.layout-grid__container .layout-grid__section__titlecontainer .subtitle {
  width: 100%;
  margin: auto 0 0 0;
  border-top: 2px solid rgba(173, 173, 173, 0.295);
  border-bottom: 2px solid rgba(173, 173, 173, 0.295);
}

.layout-grid__container .layout-grid__section__titlecontainer .subtitle h3 {
  margin: .5em 0 .5em;
  font-weight: 400;
}

.layout-grid__container .layout-grid__section__titlecontainer__info {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
/*# sourceMappingURL=style.css.map */