<footer>
  <div class="footer">
    <div class="footer_about">
      <h3>About Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquid,
        inventore veritatis, a beatae asperiores eveniet ex repudiandae
        voluptatibus tempora, optio nam harum temporibus tempore. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Nisi recusandae dolore
        molestiae quis iste.
      </p>
    </div>
    <div class="footer_main">
      <h3>Make a story</h3>
        <a href="/account"><h4>See your stories</h4></a>
        <a href="/posts/new"><h4>Add your story</h4></a>
    
    </div>
    <div class="footer_right">
      <div class="footer_links">
        {% if loggedUser %}
        <p class="tag-light">Hello, {{loggedUser.username}}!</p>
        <a class="tag-light" href="/logout">Logout</a>
        {% else %}
        <a href="/login" class="accent tag-light">Login</a>
        <a href="/register" class="accent tag-light">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright © 2021 All Rights Reserved by Sterrenstof.
  </div>
</footer>
