<header>
  <div class="logo">
    <p class="tag-light"><a href="/">KunstKANON</a></p>
  </div>



  <div class="member">
    {% if loggedUser %}
    <p class="tag-light"><a href="/account">Hello, {{loggedUser.username}}!</a></p>
    <a href="/logout" class="tag-light">Logout</a>
    {% else %}
    <a href="/login" class="accent tag-light">Login</a>
    <a href="/register" class="accent tag-light">Register</a>
    {% endif %}

    <input type="checkbox" id="toggle" class="offscreen dark-mode-toggle" />
    <label for="toggle" class="switch"></label>

    <!-- <button id="dark-mode-toggle" class="dark-mode-toggle">
      <svg
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 496 496"
      >
        <path
          fill="currentColor"
          d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
          transform="translate(-8 -8)"
        />
      </svg>
    </button> -->
  </div>
</header>