<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    
    <title>kunstKANON</title>
  </head>
  <body>
    {% if message.title %}
    <div class="logout-pop-up">
      <h3>{{message.title}}</h3>
    </div>
    {% endif %}
    <header>
      <div class="member">
        <!-- <a href="./login">Login</a>
        <a href="./register">Register</a>
        <a href="./logout">Logout</a> -->
          {% if loggedUser %}
            <p>Hello, {{loggedUser.username}}!</p>
            {% else %}
            <a href="./login">Login</a>
            <a href="./register">Register</a>
          {% endif %}

          <input type="checkbox" id="toggle" class="offscreen dark-mode-toggle" />
<label for="toggle" class="switch"></label>

        <!-- <button id="dark-mode-toggle" class="dark-mode-toggle">
          <svg
            width="100%"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 496 496"
          >
            <path
              fill="currentColor"
              d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
              transform="translate(-8 -8)"
            />
          </svg>
        </button> -->
      </div>
    </header>

    <div class="layout-grid">
      <div class="layout-grid__container intro-section">
        <div class="layout-grid__container__left">
          {% include '../snippets/breadcrums.html' %}
          <h3>&dotsquare; Board</h3>
          <h3>Artist</h3>
          <h3>Stories</h3>
          <h3>Paintings</h3>
          <h3>Illustrations</h3>
          <h3>Film</h3>
          <h3>Schedule</h3>
          <h3>Contact</h3>

          <div class="layout-grid__container__left__bottom">
            <a href="/account"><h4>See your own stories</h4></a>
            <a href="./posts/new"><h4>Add your own stories</h4></a>
            {% if currentUser %}
            <a href="/account">Account</a>
            <a href="./logout">Logout</a>
            {% else %}
            <a href="./login">Login</a>
            <a href="./register">Register</a>
            {% endif %}
           
            
          </div>
        </div>
        <div class="layout-grid__container__middle">
          <!-- <h2>FILTER</h2> -->
          {% for tag in tags %}
          <h4><a href="/tags/{{tag}}">{{tag}}</a></h4>
          {% endfor %}
          <!-- <h4>Highlights</h4>
          <h4>&dotsquare; Newly released</h4>
          <h4>Award winning</h4> -->
        </div>
        <div class="layout-grid__container__right">
          <div class="layout-grid__container__right__title">
            <p>Story of the week</p>
            <p><a href="">Written by {{post.author.username}}</a></p>
            <h2>Bert</h2>
            <h4 class="truncate-text-multiline">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
              ex reiciendis commodi, saepe nulla dicta nisi aperiam, vitae
              voluptatum maxime, voluptas nemo harum ea quos dolorum dignissimos
              accusantium sint voluptate quo est cupiditate? Incidunt
              perspiciatis repudiandae, velit unde, natus facilis, delectus
              ipsum assumenda eligendi aspernatur reiciendis iure expedita!
              Perferendis aliquam voluptatibus rerum totam quibusdam recusandae
              maiores, doloribus cumque corporis ex dolorem sed, quae enim ut
              libero officiis rem consequatur veniam at suscipit. Quis quasi
              repellendus amet rem? Iure, optio doloribus. Laudantium, nihil
              labore harum ut cupiditate debitis earum eaque veritatis
              consequatur, quidem aspernatur nam voluptatem, aliquam voluptas.
              Veniam, quisquam nisi?
            </h4>
          </div>
          <img
            src="https://images.unsplash.com/photo-1627301186830-3ce112ebed84?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
            alt=""
          />
        </div>
      </div>
      {% for post in posts %}
      <div class="layout-grid__container">
        <section class="layout-grid__section">
          <article class="layout-grid__section__titlecontainer">
            <h2>{{post.title}}</h2>
            {% include '../snippets/stars.html' %}
    
            <p><a href="/authors/{{post.author._id}}"
              >see more from {{post.author.username}}</a
            ></p>
            <div class="subtitle">
              <h3><a href="/posts/{{post._id}}" class="truncate-text-multiline">{{post.caption}}</a></h3>
            </div>

            <!-- <form action="/posts/{{post._id}}?_method=DELETE" method="POST">
            <button class="">Delete</button>
          </form> -->

            <div class="layout-grid__section__titlecontainer__info">
              <ul>
                <li>
                  <p class="strong">PUBLISHED</p>

                  <p>{{post.updated}}</p>
                </li>
                <li>
                  <p class="strong">
                    <a class="strong" href="/posts/{{post._id}}">SEE MORE</a>
                  </p>
                  <a href="/posts/{{post._id}}"
                    >see more from {{post.author.username}}</a
                  >
                </li>
                <li>
                  <ul>
                    <p class="strong">TAGS</p>
                    {% for tag in post.tags %}
                    <li><a href="/tags/{{tag}}">{{tag}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </section>
        <section class="layout-grid__section">
          <img src="{{post.image}}" alt="" />
        </section>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="../../script.js"></script>
</html>
