<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Image</title>
    <link rel="stylesheet" href="/style.css" />

</head>

<body>
    {% include '../snippets/breadcrums.html' %}
    <div class="register__page">
    <div class="form__container">
        <h2>Login</h2>
        {% if message.title %}
    <div class="logout-pop-up">
      <h3>{{message.title}}</h3>
    </div>
    {% endif %}
        <form action="/login" method="POST" class="form">
            <div class="group log-input">

                <input type="text" name="username" id="username" placeholder="username" required>
            </div>
            <div class="group log-input">
            
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <div class="container-log-btn">
                <button type="submit" name = "btn_submit" class="log-form-btn mouse-cursor-gradient-tracking">
                  <span>Login</span>
                </button>
                
              </div>
        </form>
    </div>
    </div>

</body>
<script src="../../script.js"></script>

</html>