<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Image</title>
</head>

<body>
    {% include '../snippets/breadcrums.html' %}
    <h1>Add A Product</h1>
    <form action="/" method="POST" >
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username">
        <label for="caption">Caption</label>
        <input type="text" name="caption" id="caption" placeholder="caption">
        <label for="image">Image upload</label>
        <input type="text" id="image" name="image" placeholder="image">
        <button>Submit</button>
    </form>

</body>

</html>