<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <title>kunstKANON</title>
  </head>

  <body>
    {% include '../snippets/header.html' %} 
    {% include '../snippets/breadcrums.html' %}
    <div class="search-container">
      <h1>Search Page</h1>

    </div>

    
 {% include '../snippets/footer.html' %} 
  </body>
  <script src="../../script.js"></script>
</html>
