<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    {% include '../snippets/breadcrums.html' %}
      {% if posts %}
        {% for post in posts %}
        {% set ratings = false %}
          {% include '../snippets/post.html' %}
        {% endfor %}
        {% elif post %}
        {% set ratings = true %}
        {% include '../snippets/post.html' %}
    {% endif %}
  </body>
  <script src="../../script.js"></script>
</html>
