<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    {% include '../snippets/header.html' %} 
    {% include '../snippets/breadcrums.html' %}
    <h2 class="tag__container">All about {{keyword}}</h2>
    <div class="post-container__container">
    {% for post in postsWithTag %}
      {% include '../snippets/post.html' %}
    {% endfor %}
    </div>
  </body>
  <script src="../../script.js"></script>
</html>
